.card {
  max-width: 300px;
}

.card__image-wrapper {
  position: relative;
}

.card__image {
  object-fit: cover;
}

.card__discount {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  left: 11px;
  width: 60px;
  height: 60px;
  font-weight: 700;
  border-radius: 50%;
  color: var(--color-darker-white);
  background-color: var(--color-dark-vinous);
}

.card__inner {
  padding: 17px 20px 25px 20px;
}

.card__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.card__fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.card__price-wrapper {
  margin-top: 20px;
  text-align: center;
}

.card__price {
  font-size: 24px;
  text-decoration-line: line-through;
  color: var(--color-grey);
}

.card__discount-price {
  margin-left: 22px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: var(--color-dark-vinous);
}

.card__button {
  margin-top: 12px;
}
