.container {
  width: 100%;
  max-width: 980px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

@media (max-width: 960px) {
  .container {
    max-width: 640px;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 340px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
