.nav {
  text-transform: uppercase;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 640px) {
  .nav__list {
    flex-direction: column;
  }
}

.nav__item + .nav__item {
  margin-left: 28px;
}

.nav__item a {
  color: inherit;
}
